@import "tailwindcss";

html {
    box-sizing: border-box
}

body {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit
}

:root {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
}